<div class="container-fluid footer mt-8">
    <div class="row">
        <!-- name  -->
        <div class="col-lg-6 mt-3 mb-3">
            <h1>Vanakkam!!</h1>
            <p>SURF SOUTHERN SPICE!</p>
        </div>
        <!-- socialmedia -->
        <div class="col-lg-2 mt-3 mb-3 ml-auto">
            <a href="#" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="#" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
        </div>
    </div>
</div>